 @import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {
     --primary-color: #1dd1a1;
     --active-color: #2ecc71;

 }

 .content {
     position: relative;
     top: 75px;
     height: 50%;
 }

 body {
    background: linear-gradient(to right, #c31432, #240b36);
     font-family: "Muli", poppins;
     height: 100%;
 }

 .slider-container {
     height: 100%;
     width: 100vw;
     overflow: hidden;
     position: relative;
     color: #fff;
 }

 .left-slides {
     position: absolute;
     left: 50px;
     top: 0;
     width: 35%;
     height: 100%;
     transition: transform 0.5s ease-in-out;
 }

 .right-slides {
     position: absolute;
     left: 35%;
     top: 0;
     width: 65%;
     height: 100%;
     transition: transform 0.5s ease-in-out;
     border: #fff;
 }

 .left-slides>div {
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-start;
 }

 .left-slides h3 {
     font-size: 3rem;
     margin-bottom: 10px;
 }

 .left-slides p {
     font-size: 1.5rem;
 }

 .right-slides>div {
     height: 100%;
     width: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     opacity: 0.9;
     border-radius: 50px;
 }

 button {
     opacity: 0.2;
 }

 .slider-container button {
     position: absolute;
     left: 35%;
     top: 50%;
     font-size: 1.5rem;
     padding: 12px;
     border: none;
     cursor: pointer;
     color: #fff;
     background-color: #444;
 }

 button:hover {
     opacity: 1;
 }

 button:focus {
     outline: none;
 }

 .slider-container .left-btn {
     transform: translateX(-100%);
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     background-color: rgba(0, 0, 0, 0);
 }

 .slider-container .right-btn {
     transform: translateY(-100%);
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     background-color: rgba(0, 0, 0, 0);
 }

 .appframe {
     position: absolute;
     width: 100%;
     top: 0;
     display: flex;
     height: 72px;
     align-items: center;
     justify-content: space-between;
     background-image: linear-gradient(rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.4));
     z-index: 10;
 }

 .logo {
     margin-left: 50px;
 }

 .logo>img {
     height: 72px;
     width: 72px;
 }

 .icon-right {
     display: flex;
     gap: 50px;
     align-items: center;
     margin-right: 50px;
 }

 .sticky {
     position: fixed;
     transition-delay: 0.5s;
     top: 0;
     width: 100%;
 }

 a {
     font-size: 2ch;
     text-decoration: none;
     color: #fff;
 }

 .butonicon {
     opacity: 0.5;
 }

 .butonicon:hover {
     opacity: 1;
 }

 .buy {
     font-size: 4ch;
     color: white;
 }

 .buy:hover {
     color: rgb(236, 15, 15)
 }

 p {
     opacity: 0.5;
 }

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;
     padding-top: 50px;
     margin: 40px 0;
 }

 body .container .card {
     position: relative;
     min-width: 320px;
     height: 440px;
     box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
         inset -5px -5px 15px rgba(255, 255, 255, 0.1),
         5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
     border-radius: 15px;
     margin: 30px;
     transition: 0.5s;
 }

 body .container .card .box {
     position: absolute;
     top: 20px;
     left: 20px;
     right: 20px;
     bottom: 20px;
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     transition: 0.5s;
     opacity: 0.8;
 }

 body .container .card .box:hover {
     transform: translateY(-50px);
 }

 body .container .card .box:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 100%;
     background: rgba(255, 255, 255, 0.03);
 }

 body .container .card .box .content {
     padding: 20px;
     text-align: center;
 }

 body .container .card .box .content h3 {
     font-size: 1.8rem;
     color: white;
     z-index: 1;
     transition: 0.5s;
     margin-bottom: 15px;
     opacity: 1;
     text-shadow: 7px 7px #444;
 }

 body .container .card .box .content p {
     font-size: 1rem;
     font-weight: 300;
     color: rgba(255, 255, 255, 0.9);
     z-index: 1;
     transition: 0.5s;
 }

 body .container .card .box .content a {
     position: relative;
     display: inline-block;
     padding: 8px 20px;
     background: black;
     border-radius: 5px;
     text-decoration: none;
     color: white;
     margin-top: 20px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     transition: 0.5s;
 }

 body .container .card .box .content a:hover {
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
     background: #fff;
     color: red;
 }
 .footer-distributed {
    border: 1px solid #33383b;
    border-radius: 20px 20px 0 0;
    background: #33383b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    opacity: 0.5;
  }
  
  .footer-distributed .footer-left p {
    color: white;
    font-size: 14px;
    margin: 0;
  }
  .footer-distributed .footer-left>p:hover {
    color: white;
    opacity: 2;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
 

 